.item-page {
  &__content {
    display: flex;

    margin-top: 20px;
  }

  &__pictures {
    width: 50%;
    margin-right: 5%;
  }

  &__pictures-list {
    margin-top: 20px;
    display: flex;
  }

  &__pictures-item {
    border: 2px solid transparent;

    cursor: pointer;

    &--active {
      border: 2px solid #9b4646;
    }
  }

  &__description {
    width: 45%;
  }

  &__tags {
    display: flex;
    margin-top: 20px;

    strong {
      margin-right: 10px;
    }
  }

  &__order {
    display: flex;
    align-items: center;

    margin-top: 30px;
  }

  &__price {
    font-size: 20px;
    margin-right: 20px;
  }

  &__order-btn {
    color: #fff;
    background: #000;
  }

  &__tabs {
    margin-top: 50px;
  }
}
