.item {
  width: calc(100% / 3);

  padding: 15px;

  &__link-text {
    font-size: 18px;
    text-decoration: none;
    color: #3f1dcb;

    padding: 10px 0;
  }

  &__price {
    display: block;
    margin-top: 10px;
  }

  &__order-btn {
    color: #fff;
    background: #7C4DFF;
    margin-top: 10px;
  }

  &:hover {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  }
}
