.search {
  position: relative;

  display: flex;
  align-items: center;

  font-size: 14px;

  &__input {
    width: 250px;
    height: 30px;

    padding: 5px 10px;
    border: none;
    outline: 0;

    background: #e3dfdf;
  }

  &__results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    border-top: 1px solid #000;

    background: #e3dfdf;

    &-item {
      padding: 5px 10px;
    }
  }
}
